<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jiangxch.hasakei.config.dao.ConfigInfoMapper">


    <select id="listConfigInfoByPage" resultType="com.github.jiangxch.hasakei.config.dao.entity.ConfigInfo">
        SELECT * FROM config_info
        LIMIT ${(arg.pageNo - 1) * arg.pageSize},#{arg.pageSize}
    </select>



    <insert id="create">
        INSERT INTO config_info  (config_name,environment,user_id,config_desc,content,md5,username)
        VALUES (#{arg.configName},#{arg.environment},#{arg.userId},#{arg.configDesc},#{arg.content},#{arg.md5},#{arg.username})
    </insert>
</mapper>