<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jiangxch.hasakei.config.dao.ConfigInfoMapper">


    <select id="listConfigInfoByPage" resultType="com.github.jiangxch.hasakei.config.dao.entity.ConfigInfo">
        SELECT * FROM config_info OFFSET ${(arg.pageNo - 1) * arg.pageSize} ROWS FETCH NEXT #{arg.pageSize} ROWS ONLY
    </select>



    <insert id="create">
        INSERT INTO config_info  (config_name,environment,config_desc,content,md5,username,gmt_create,gmt_modified)
        VALUES (#{arg.configName},#{arg.environment},#{arg.configDesc},#{arg.content},
                #{arg.md5},#{arg.username},#{arg.gmtCreate},#{arg.gmtModified})
    </insert>
    <update id="updateConfigInfoById">
        UPDATE config_info SET
        config_name=#{configInfo.configName},
        environment=#{configInfo.environment},
        config_desc=#{configInfo.configDesc},
        content=#{configInfo.content},
        md5=#{configInfo.md5},
        username=#{configInfo.username},
        gmt_modified=#{configInfo.gmtModified}
        WHERE
        id=#{configInfo.id}
    </update>
</mapper>